:root {
  --checkin-colors-primary: #8332AC;
  --checkin-colors-secondary: #F2D1C9;
  --checkin-colors-dark: #462749;
  --checkin-colors-bright: #E086D3;
  --checkin-colors-alternative: #BAD1CD;
  --checkin-colors-white: #FFFFFF;
}

html {
  height: 100%;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  background-color: var(--checkin-colors-white);
}

body > * {
  padding: 0 10%;
}

@media (min-width: 80rem) {
  body > * {
    padding: 0 20%;
  }
}

body > * > *:not(checkin-router) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header, footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--checkin-colors-secondary);
}

header {
  height: 7rem;
}

main {
  flex-grow: 1;
}

footer {
  height: 5rem;
}
