<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }

  input, td {
    padding: 0.25rem;
  }

  input, button {
    box-sizing: border-box;
    width: 100%;
  }

</style>
<fieldset name="sections">
  <legend>Sections</legend>
  <table>
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Loading...</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <button id="add-section">Add</button>
        </td>
      </tr>
    </tfoot>
  </table>
</fieldset>
